.tef-header {
  background: #007486;
}

[data-columns] > * {
  text-align: center;
  background: rgba(0,0,0,0.1);
  border: 1px solid #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

[data-columns] > .active {
  border: 1px solid #007486;
}

span + .tef-button.small {
  margin-left: 10px;
}